/* GERAL */
body {
	background: url(images/bg.jpg) #d9dee2 no-repeat fixed center top;
}

p {
	line-height: 16pt;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #999;
	padding: 7px;
}



/* HEADER */


#branding hgroup {
    margin: 0;
    position: absolute;
}

#site-title{
	width: 240px;
	height: 180px;
	background: url(images/logo-medio.png) top center no-repeat;
	margin: 12% 0 0 75%;
	text-indent: -99999px;
	
}

#site-title a {
	width: 240px;
	height: 180px;
	float: left;
}

#site-description {
    color: #373737;
    font-size: 13px;
    margin: 0 270px 3.65625em -50px;
}

#access {
	background: #151c4b; /* Old browsers */
	background: -moz-linear-gradient(top, #151c4b 0%, #0c102b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151c4b), color-stop(100%,#0c102b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #151c4b 0%,#0c102b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151c4b', endColorstr='#0c102b',GradientType=0 ); /* IE6-9 */
	clear: both;
	display: block;
	float: left;
    height: 60px;
    margin: 0 auto;
    width: 100%;

}
#access ul {
	list-style: none;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	color: #eee;
	display: block;
	line-height: 3.333em;
    padding: 9px 1.213em;
	text-decoration: none;
}
#access ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 4.333em;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #9c220f;
	color: #f1f1f1;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 168px;
	background: #151c4b; /* Old browsers */
	background: -moz-linear-gradient(top, #151c4b 0%, #0c102b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151c4b), color-stop(100%,#0c102b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #151c4b 0%,#0c102b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #151c4b 0%,#0c102b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151c4b', endColorstr='#0c102b',GradientType=0 ); /* IE6-9 */
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #151c4b;
}
#access li:hover > a,
#access a:focus {
	background: #151c4b; /* Show a solid color for older browsers */
	color: #FFF;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	font-weight: bold;
	background: #151c4b;
}


#menu-redes-sociais {
	height: 34px;
	width: 113px;
	float: right;
  margin-right: 90px;
    margin-top: 20px;
}

a.link_twitter {
   background: url("images/midias-sociais.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    padding: 0 !important;
    position: absolute;
    width: 35px;
}

a.link_twitter:hover {
	background: url("images/midias-sociais.png") no-repeat scroll 0 -43px transparent;
}

a.link_facebook {
   background: url("images/midias-sociais.png") no-repeat scroll -36px 0 transparent;
    height: 35px;
    position: absolute;
    width: 38px;
	padding: 0 !important;
	margin-left: 35px;
}

a.link_facebook:hover {
	background: url("images/midias-sociais.png") no-repeat scroll -36px -43px transparent;
}

a.link_youtube {
   background: url("images/midias-sociais.png") no-repeat scroll -76px 0 transparent;
    height: 35px;
    position: absolute;
    width: 35px;
	padding: 0 !important;
	margin-left: 74px;
}

a.link_youtube:hover {
	background: url("images/midias-sociais.png") no-repeat scroll -76px -43px transparent;
}

#menu-item-33 a{
   background: none repeat scroll 0 0 #D68712 !important;

}

/* HOME */

#slider-home {

    height: 368px;
    margin: 25px auto 40px;
    width: 760px;
}

#content-uma-coluna {
	margin: 0 34% 0 7.6%;
	width: 85%;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}

#footer-widget-area ul.children {
display: none;
}

/* CAIXAS HOME */
#caixas-home {
	width: 100%;
    margin: 10px 0 0 0;
	font-family: Arial, Geneva, sans-serif;
}

.caixa-home {
	width: 210px;
	margin: 0 0 45px 45px;
	min-height: 200px;
	float: left;
}

#caixas-home h2 {
	color: #2CAADA;
	font-size: 28px;
	margin: 0 0 20px 0;
}

#caixas-home h2 a {
	text-decoration: none;
	color: #2CAADA;
}

#caixas-home h2 a:hover {
	text-decoration: none;
	color: #2E3192;
}

#caixas-home a {
	text-decoration: none;
	color: #2E3192;
}

#caixas-home a:hover {
	text-decoration: underline;
}

/* PAGE */
#page {
	width: 100%;
	margin: 0 auto;
	min-height: 400px;
	max-width: 995px;
	background-color: #FFF;
}


#page hr, #clientes hr {
	background-color: #666;
}
.left {
	width: 450px;
	float: left;
}

#editar {
	width: 80%;
	height: 25px;
	margin: 10px 0 30px 0;
	clear: both;
}

#editar a {
	text-decoration: none;
	color: #900;
}

#editar a:hover {
	text-decoration: underline;
	color: #333;
}

/* FOOTER */

#logo-footer {
	float: left;
	background: url(images/logo_mini.png) left no-repeat;
	width: 160px;
	height: 105px;
    margin: 50px 0 0 45px;
}

.a-logo-footer {
	width: 160px;
	height: 105px;
	position: absolute;
}

#dados-footer {
    float: left;
    width: 435px;
	font-size: 13px;
   margin: 20px 0 0 20px;
}



#endereco-footer {
    margin: 30px 10px 0 15px;
}

#contato-footer {
	margin: 0 15px 0 15px;
}

#descricao-footer {
	margin: 0 15px 0 15px;
}

#apoiadores {

	float: left;
    height: 170px;
    width: 185px;
	text-align: center;

}

ul.apoiadores {
margin: 0;
list-style: none;
}


.welcome_container .one_third{ width:19.66% !important; text-transform: uppercase;}
.welcome_container .two_third{ width:76.33% !important; } 	

a.button{	color: #fff;	background: #009933;	  padding: 4px 12px;	  -moz-border-radius: 3px;	  -webkit-border-radius: 3px;	  border-radius: 3px;	  	  display: inline-block;	  font-size: 11px;	  font-weight: bold;	  text-decoration: none;	  text-transform: capitalize;	  cursor: pointer;	  margin: 5px 0px 20px 0px;	  line-height: 21px; }	  	  	a.button:hover{background: #1b1b1b;}
.welcome_container { position: relative; width: 964px; margin: 0 auto; padding: 0;}
.welcome-box h1{	color: #424242;	font-size: 18px;	line-height: 30px;	font-weight: normal;}
#welcome-box a{background:red;color:#424242; padding: 2px;	border-radius:3px;	-moz-border-radius: 3px;	-webkit-border-radius: 3px;}
